<settings>
    <setting id="adult_aux_intro_password" value="" />
    <setting id="adult_aux_new_password1" value="" />
    <setting id="adult_aux_new_password2" value="" />
    <setting id="adult_mode" value="0" />
    <setting id="adult_request_password" value="true" />
    <setting id="channel_language" value="all" />
    <setting id="check_for_channel_updates" value="true" />
    <setting id="check_for_plugin_updates" value="true" />
    <setting id="debug" value="false" />
    <setting id="default_action" value="0" />
    <setting id="downloadlistpath" value="special://profile/addon_data/plugin.video.mitvspain/downloads/list" />
    <setting id="downloadpath" value="special://profile/addon_data/plugin.video.mitvspain/downloads" />
    <setting id="extended_info" value="false" />
    <setting id="folder_movies" value="CINE" />
    <setting id="folder_tvshows" value="SERIES" />
    <setting id="forceview" value="false" />
    <setting id="hidepremium" value="false" />
    <setting id="infoplus" value="true" />
    <setting id="jdownloader" value="http://127.0.0.1:10025" />
    <setting id="jdownloader_enabled" value="false" />
    <setting id="library_ask_set_content" value="1" />
    <setting id="library_set_content" value="false" />
    <setting id="library_version" value="(str, &apos;v4&apos;)" />
    <setting id="librarypath" value="special://profile/addon_data/plugin.video.mitvspain/library" />
    <setting id="path_selection" value="0" />
    <setting id="personalchannel" value="false" />
    <setting id="personalchannel2" value="false" />
    <setting id="personalchannel3" value="false" />
    <setting id="personalchannel4" value="false" />
    <setting id="personalchannel5" value="false" />
    <setting id="personalchannellogo" value="https://raw.githubusercontent.com/MiTvSpain/mitvspain/master/sample.png" />
    <setting id="personalchannellogo2" value="https://raw.githubusercontent.com/MiTvSpain/mitvspain/master/sample.png" />
    <setting id="personalchannellogo3" value="https://raw.githubusercontent.com/MiTvSpain/mitvspain/master/sample.png" />
    <setting id="personalchannellogo4" value="https://raw.githubusercontent.com/MiTvSpain/mitvspain/master/sample.png" />
    <setting id="personalchannellogo5" value="https://raw.githubusercontent.com/MiTvSpain/mitvspain/master/sample.png" />
    <setting id="personalchannelname" value="Ejemplo de canal personal" />
    <setting id="personalchannelname2" value="Ejemplo de canal personal" />
    <setting id="personalchannelname3" value="Ejemplo de canal personal" />
    <setting id="personalchannelname4" value="Ejemplo de canal personal" />
    <setting id="personalchannelname5" value="Ejemplo de canal personal" />
    <setting id="personalchannelpage" value="100" />
    <setting id="personalchannelpage2" value="100" />
    <setting id="personalchannelpage3" value="100" />
    <setting id="personalchannelpage4" value="100" />
    <setting id="personalchannelpage5" value="100" />
    <setting id="personalchannelurl" value="https://raw.githubusercontent.com/MiTvSpain/mitvspain/master/samplefeed.rss" />
    <setting id="personalchannelurl2" value="https://raw.githubusercontent.com/MiTvSpain/mitvspain/master/samplefeed.rss" />
    <setting id="personalchannelurl3" value="https://raw.githubusercontent.com/MiTvSpain/mitvspain/master/samplefeed.rss" />
    <setting id="personalchannelurl4" value="https://raw.githubusercontent.com/MiTvSpain/mitvspain/master/samplefeed.rss" />
    <setting id="personalchannelurl5" value="https://raw.githubusercontent.com/MiTvSpain/mitvspain/master/samplefeed.rss" />
    <setting id="player_mode" value="0" />
    <setting id="player_type" value="2" />
    <setting id="plugin_updates_available" value="0" />
    <setting id="resolve_priority" value="0" />
    <setting id="resolve_stop" value="true" />
    <setting id="server_stats" value="true" />
    <setting id="settings_path" value="(str, &apos;special://profile/addon_data/plugin.video.mitvspain/settings_channels&apos;)" />
    <setting id="subtitle_name" value="(str, &apos;Babylon 5 1x01 (Espanol)&apos;)" />
    <setting id="thumbnail_type" value="2" />
    <setting id="var_temp_filtertools_v2_seriesblanco" value="(str, &apos;s&apos;)" />
</settings>
